.picture-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 25px;
}
.block-name {
	background-color: rgb(172, 27, 71);
}

// .block-icons {
// 	display: flex;
// 	align-items: center;
// 	justify-content: center;
// }

.gallery__list {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
}
.gallery__item {
	width: calc((100% / 4) - 20px);
	height: 150px;
	overflow: hidden;

	& img {
		height: 100%;
	}
}
