<section class="m-welcome">
	<div class="o-container">
		<div class="picture-wrapper">
			<picture>
				<source srcset="./img/image.avif" type="image/avif"/>
				<source srcset="./img/image.webp" type="image/webp"/>
				<source srcset="./img/image.jpg" type="image/jpeg"/>
				<img
					class="tm-img"
					src="./img/image.jpg"
					alt="Image"
					width="474"
					height="248"
				/>
			</picture>
		</div>
		<div class="block-name">Проверка</div>
		<div>
			<p>{{data.phone}}</p>
		</div>
		<div>
			<p>{{data.email}}</p>
		</div>
		<div class="block-icons">
			<p>Спрайт svg моно-иконок</p>
			{% include '../../components/icons-group/icons-group-mono.html' %}
		</div>
		<div class="block-icons">
			<p>Спрайт svg мулти-иконок</p>
			{% include '../../components/icons-group/icons-group-multi.html' %}
		</div>
		<h2 style="text-align: center; margin-bottom: 15px">
			Рандомные картинки из JSON 
		</h2>
		<ul class="gallery__list">
			<!-- Loops through "images" array -->
			{% for image in images %}
				<li class="gallery__item">
					<img src="{{image.src}}" alt="{{image.alt}}" width="{{image.width}}" height="{{image.height}}"/>
				</li>
			{% endfor %}
		</ul>
	</div>
</section>