{% import "data/data.html" as data %}

<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content={{data.siteDescription}}/>
    <meta name="robots" content="noodp"/>
    <meta name="keywords" content={{data.siteKeyWorlds}}/>
    <meta name="theme-color" content="#fff"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
		<link rel="icon" href="img/favicons/favicon.svg">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
		<link rel="manifest" href="manifest.json">
    <link rel="stylesheet" href="styles/main.css"/>
    <title>{{data.siteTitle}}</title>

  </head>
  <body>
    <div class="o-page__wrapper">
			{% include '../../blocks/modules/header/header.html' %}
			{% block content %}{% endblock %}
			{% include '../../blocks/modules/footer/footer.html' %}
		</div>
		{# <script src="js/vendor.js"></script> #}
		<script src="js/main.js"></script>
  </body>
</html>
